<div class=page-container>
    <div class=page-title>About me</div>
    <div class=page-subtitle>Let's get to know each other</div>
    <div class=intro>
        <div class=circle-container>
            <img class="circle-image" src="../../assets/images/volney.JPG" />
        </div>
        <div class=bio>
            <p>Hi, I'm John - but you can call me Volney. It all started when I was born...
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
            <p>Another paragraph about me, ooohwee. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>
    </div>
</div>

<div class="timeline">
    <div class="timeline-title">Education & Career</div>
    <main>
        <div class="event" data-year="2012">
            <div class=title>Oklahoma City University</div>
            <div class=subtitle>Bachelor of Business Administration (BBA), Finance</div>
        </div>
        <div class="event" data-year="2016">
            <div class=title>Testing and Reporting Specialist</div>
            <div class=subtitle>Fidelity Investments</div>
            <div class='desc'>Shoober shooberino adorable doggo many pats, heckin good boys many pats pupper wrinkler, corgo maximum borkdrive. A frighten puggo wow very biscit.</div>
        </div>
        <div class="event" data-year="2017">
            <div class=title>Fund Accounting Analyst II</div>
            <div class=subtitle>Fidelity Investments</div>
            <div class='desc'>Shoober shooberino adorable doggo many pats, heckin good boys many pats pupper wrinkler, corgo maximum borkdrive. A frighten puggo wow very biscit.</div>        
        </div>
        <div class="event" data-year="2018">
            <div class=title>The University of Texas at Arlington</div>
            <div class=subtitle>Masters of Economic Data Analysis, Economics</div>
        </div>
        <div class="event" data-year="2019">
            <div class=title>Economist</div>
            <div class=subtitle>GM Financial, Internship</div>
            <div class='desc'>Within the Economic Risk team, I utilized the portfolio of active leases to <strong>identify emerging trends</strong> and <strong>provide actionable information</strong> to executive leadership.
                Saved 2 hours a week for a senior analyst by <strong>automating visualizations</strong> in Excel which he was previously manually updating. 
                Decreased the root mean squared error of the lease survival model by suggesting that the team manually adjust the weight of Buick sedans down. This was done after spotting the specific trend in my visualization work</div>
        </div>
        <div class="event" data-year="2020">
            <div class=title>Statistical Analyst</div>
            <div class=subtitle>Charles Schwab</div>
            <div class='desc'>
                <p>
                 Led <strong>A/B testing</strong> for digital product marketing stakeholders with the goal of improving user experience and driving net new account growth. As a direct result of changes I advocated for, Schwab realized an increase of more than 4 million in net new revenue.    
                </p>
                <p>
                   Responsible for a test which resulted in a 3% lift to account opens equating to roughly 1.2 million in annualized net new revenue. This was achieved through collaboration with marketing page owners and <strong>proactively seeking opportunities to understand user behavior</strong>. 
                Took ownership of the initiative to redefine value add experience which led to hundreds of thousands of additional dollars saved by the program by defining the opportunity cost of every test which failed to outperform the control.  
                </p>
                <p>
                 Served as the subject matter expert in <strong>Adobe Analytics</strong> Ex: uncovering emerging traffic trends, identifying areas of opportunity within the client journey, working with the tagging team for ad tracking and testing purposes, discovering areas of difficulty within the client experience. 
                Coordinate with stakeholders to <strong>identify achievable marketing metrics</strong> for success through analysis of site traffic and macroeconomic trends.    
                </p>
                <p>
                    Build and maintain automated reporting dashboards in <strong>Adobe Analytics</strong> and <strong>Tableau</strong> to help stakeholders understand and track progress against previously defined metrics. 
                Pipeline data extracts from Adobe Analytics to <strong>Alteryx</strong> for efficient data transformation for use in Tableau dashboards
                </p>
            </div>
        </div>
        <div class="event" data-year="2022">
            <div class=title>Senior Statistical Analyst</div>
            <div class=subtitle>GM Financial, Internship</div>
            <div class='desc'>
                <p>
                   In 2023, changes made by my recommendation resulted in a 5% lift in client promoters. This was achieved by surfacing <strong>data-backed insights</strong> and communicating findings in an easy to digest format for both technical and non-technical audiences while focusing on the <strong>actionable takeaways</strong> for stakeholders. 
                Discovered an approximate $11000 difference in client lifetime value between promoters and detractors. This allowed my team to quantify the outcomes of other projects at the firm aimed at increasing the net promoter score.  
                </p>
                <p>
                 Uncovered an opportunity to increase high volume trader activity by up to 5%. Done by discovering that traders rating Schwab’s research experience as “hard” traded 20% less often, and traders rated the experience as hard 30% more often than the general client population. 
                Persuaded leadership to make a million-dollar purchase of an AI based call grading software using the machine learning technique, k-nearest neighbors. My work uncovered severe bias in our internal metrics which led to overstated agent grades and worse client outcomes. 
                Aggregate data from multiple sources across <strong>Google Cloud Platform (GCP)</strong> to build and automate a diagnostic dashboard in <strong>Tableau</strong>. The dashboard enabled my team to quickly identify problem areas within key retail segments by visualizing deltas in numerous surveys and attributing the change in the net promoter score to each segment.   
                </p>
                <p>
                  Build and maintain a <strong>time-series forecasting model</strong> for the net promoter score. The model is meant to set expectations for monthly scores and serve as a basis for digging into potential problem areas. 
                Organize and transform unstructured customer comment data into metadata that maps survey responses to comment type categories using <strong>regular expression and natural language processing</strong>. The comment data serves as a valuable source of cross reference material for previously mentioned <strong>diagnostic visualizations</strong> of problem areas. Comments provide insight into the “why” of a bad score in a survey.  
                </p>
                 
                </div>
        </div>
    </main>
  </div>
  
<div class='gallery'>
    <img class="framed" src="../../assets/images/travel.jpg" >
    <img class="framed" src="../../assets/images/cats.JPG">
    <img class="framed" src="../../assets/images/mandy.jpg">
</div>
