<div class=page-container>
    <div class=page-title>About me</div>
    <div class=page-subtitle>Let's get to know each other</div>
    <div class=intro>
        <div class=circle-container>
            <img class="circle-image" src="../../assets/images/volney.JPG" />
        </div>
        <div class=bio>
            <p>Hi, I'm John - but you can call me Volney. It all started when I was born...
            blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
            <p>Another paragraph about me, ooohwee. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>
    </div>
    <div class='gallery'>
        <img class="framed" src="../../assets/images/travel.jpg" >
        <img class="framed" src="../../assets/images/cats.JPG">
        <img class="framed" src="../../assets/images/mandy.jpg">
    </div>
</div>
