.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px; /* Optional padding on the sides of the container */
}
@media screen and (max-width: 815px) {
    .project-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px; /* Optional padding on the sides of the container */
    }
}