<app-network></app-network>
    <div class=home>
    <div class='title'>John Volney Richardson</div>
    <div class=line></div>
    <div class=socials>
        <a href="https://www.linkedin.com/in/volneyrichardson/">
            <img src="../../assets/images/LinkedIn-Icon-Dark.png"  />
        </a>
        <a href="https://github.com/volney4">
            <img src="../../assets/images/github.webp"  />
        </a>
        <a href="mailto:volneyrichardson@gmail.com">
            <img src="../../assets/images/mail.webp"  />
        </a>
    </div>   
    <div class=desc>
        Volney is an accomplished Senior Statistical Analyst with a proven track record of leveraging advanced statistical modeling techniques to extract actionable insights from 
        complex data sets.
    </div> 
    <div class=actions>
        <a href="../../assets/resume.pdf" download="JohnVolneyRichardsonResume"><button class=btn-primary>Résumé</button></a>     
    </div>
</div>
